/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-main {
	background-color: var(--color-theme-green);
	color: var(--color-theme-white);
	font-size: 14px;
	line-height: 1.45;

	& a {
		color: var(--color-theme-white);
	}

	& hr {
		margin-right: 1rem;
		margin-left: 1rem;
	}
}

.colophon {
	font-size: 12px;
}

.footer-section {
	padding: 3rem 1.5rem;

	&.footer-lower {
		padding-bottom: 4rem;
	}

	& .colophon {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-top: 2rem;
	}

	& .social-links {
		padding-top: 1rem;

		& li {
			display: inline-block;
			font-size: 24px;
		}
	}

	& .accreditation {
		padding-top: 20px;

		& img {
			max-width: 55px;
		}
	}
}

.footer-section .widget_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;

	& .the-crop-image {
		max-width: 195px;
		margin: 0 auto;
		padding-bottom: 2rem;

		& a {
			display: block;
		}
	}

	& .wa-farmland-logo {
		max-width: 200px;
	}

	& h2.widget-title {
		font-size: 28px;
	}
}

form.the-crop-footer {
	display: flex;
	flex-wrap: nowrap;

	& input {
		border: none;
		padding: 1rem;
	}

	& button {
		padding: 1rem 1.25rem;
	}
}

@media (--tablet-up) {


	.footer-main {
		background-image: url("../images/footer-pattern.png");
		background-position: top right;
		background-repeat: repeat-y;
		background-size: 212px;
		overflow: hidden;

		& hr {
			margin-right: 3rem;
			margin-left: 3rem;
		}
	}

	.footer-section {
		padding: 3rem 3.25rem;

		& .widget_wrapper {
			justify-content: flex-start;

			& h2.widget-title {
				font-size: 30px;
			}
		}


	}

	.footer-upper {

		& .widget_wrapper {
			display: flex;
			flex-wrap: nowrap;
			flex-direction: row;
		}

		& .the-crop-form {
			margin-left: 3rem;
			margin-right: 3rem;
			max-width: 350px;
		}
	}

	.footer-lower {
		display: flex;
		justify-content: space-between;
		padding-top: 1rem;

		& .colophon {
			padding-top: 0;
			width: 380px;
			height: 115px;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			flex-wrap: wrap;

		}

		& .colophon-info {
			width: 300px;
		}

		& .accreditation {
			padding-top: 0;
			padding-left: 20px;
		}
	}
}

@media (--tablet-wide-up) {


	.footer-main {
		padding-right: 212px;
	}

	.footer-section {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;

		& .widget_wrapper .the-crop-image {
			margin-left: 0;
		}
	}

}
