/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
body {
	overflow-x: hidden;
}

.site-header--inner {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1.25rem 0.75rem;
	background-color: var(--color-theme-white);
	position: relative;
	z-index: 20;
}

.header-search {
	visibility: hidden;
	height: 0;
	overflow: hidden;

	position: absolute;
	left: 0;
	top: 120px;

	/* transition: transform 0.5s 0.5s; */
	transition: visibility 0s 0.6s, height 0.5s;

	/* transform: translate3d(0, -100%, 0); */
	transition-delay: 0s;

	width: 100vw;
	border-top: 2px solid var(--border-color);
	border-bottom: 2px solid var(--border-color);

	background-color: #fff;

	& .search-form {
		display: flex;
		width: 100%;
		padding: 1rem;
	}

	& label {
		flex: 1 1 0;
	}

	& input {
		border-color: transparent;
	}
}

.nav--toggled-on .header-search {
	visibility: visible;
	height: 96px;

	/* transform: translate3d(0, 0, 0); */
	transition-delay: 0s;
}

.header-image {
	margin: 0 auto;
}

.header-image img {
	display: block;
	margin: 0 auto;
}

.custom-logo-link {
	display: block;
	margin: 0 auto;
}

.site-branding {
	margin: 0;
	padding-right: 2rem;
	width: 50%;

	& img {
		max-width: 184px;
	}
}

.header-nav-wrapper {
	display: flex;
	align-items: center;
}

.site-title {
	margin: 0;
	font-size: 38px;
	font-weight: 400;
	line-height: 1.2;
	color: #333332;
	text-transform: uppercase;
	white-space: nowrap;
}

.site-title a {
	text-decoration: none;
	color: inherit;
}

.site-description {
	margin: 0.4375em 0 0;
	font-stretch: condensed;
	font-size: 17px;
	font-weight: inherit;
	line-height: 1.4;
	word-wrap: break-word;
	color: #757575;
}

.site-header button.menu-toggle {
	height: 56px;
	width: 56px;
	padding: 1rem;
}

@media (--tablet-up) {

	.site-header--inner {
		padding: 1rem 0.75rem;
	}

	.site-branding {

		& img {
			max-width: 236px;
		}
	}

	.header-search-wrapper {
		margin-left: 10px;
		margin-top: -15px;
		margin-bottom: -10px;
		height: 66px;
		padding-left: 10px;
		padding-top: 10px;
		border-left: 2px solid var(--color-theme-grey-light);
	}
}

@media (--tablet-wide-up) {


	.site-header--inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		max-width: var(--header-width);
		margin: 0 auto;
		padding: 0.5rem 2rem;
	}



	.header-search-wrapper {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 0;
		margin-bottom: 0;
		height: auto;
		padding-left: 0;
		padding-top: 0;
		border-left: none;
	}

	button.search-toggle {
		padding: 1.5rem 2rem;
	}

	.header-search {
		width: auto;
		top: 112px;
		left: auto;
		right: 0;
		border-left: 2px solid var(--color-theme-grey-light);
	}
}

@media (--desktop-up) {

	.site-branding {

		& img {
			max-width: 280px;
		}
	}
}
